@use "sass:map";
@import "../../App.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: map.get($grid-breakpoints, "lg")) {
    min-width: 575px;
  }
}

.footer {
  display: flex;
  height: 50px;
  justify-content: center;
}

.footerItem {
  margin: 10px;
  flex-direction: row;
}