@use "sass:map";
@import "../../App.scss";

.container {
  display: flex;
  height: 100vh;
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: map.get($grid-breakpoints, "lg")) {
    min-width: 575px;
  }
}