@use "sass:map";
@import "../../App.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  padding: 0 20px;
  @media (min-width: map.get($grid-breakpoints, "sm")) {
    padding: 0;
  }
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: map.get($grid-breakpoints, "lg")) {
    min-width: 575px;
  }
}
