.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.footerItem {
    margin: 10px;
    text-align: center;
    justify-content: center;

    &:first-child {
        text-align: right;
    }

    &:last-child {
        text-align: left;
    }
}
