.logo {
  animation: spin 10s infinite linear;
  margin: auto;

  &.superSpin {
    animation: spin 1s infinite cubic-bezier(0.560, -0.600, 0.000, 1.005);
  }

  &.sm {
    height: 50px;
    width: 50px;
  }

  &.lg {
    height: 200px;
    width: 200px;
  }
}

@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}