.container {
  height: 1em;
  overflow: hidden;
}

.itemList {
  position: relative;
  top: calc(-1em - 15px);
  animation: rollup;
  animation-timing-function: cubic-bezier(0,1.1,.25,1);
}

.option {
  margin-top: 5px;
}

@keyframes rollup {
  0% {
    transform-origin: top;
    transform: translateY(-100%);
  }

  100% {
    transform-origin: top;
    transform: translateY(0%);
  }
}