@use "sass:map";
@import "src/client/App";

$size: 75px;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  margin: auto;
  font-size: 50px;

  border: none;
  text-decoration: none;
  background: map.get($color, "primary");
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
