.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafa;
}

.menu {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.08);
  height: 72px;
  display: flex;
}

.menuItems {
  display: flex;
  padding-bottom: 16px;
  width: 100%;
}

.clearButton {
  outline: none;
  background: #fff;
  border: 1px solid #e8ebeb;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  margin-left: auto;
  padding: 8px 16px;
  border-radius: 4px;

  &:hover {
    border-color: #d1d4d4;
  }
}

.image {
  display: block;
  max-width: 550px;
  margin-right: 50px;
  box-shadow: 0 6px 20px rgb(0 0 0 / 8%);
  border-radius: 4px;
  transform: scale(0);
  transition: transform 1s;
}

.imageGambleRevealed {
  transform: scale(1);
}

.container {
  display: flex;
  max-width: 1920px;
  width: calc(100% - 2 * 64px);

  padding: 0 64px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 24px 0;

  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.restaurantInformation {
  display: flex;
  flex-direction: row;
}

.restaurantInformationLines {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 40px;
  line-height: 48px;
  margin: 0;

  a {
    color: black;
  }
}

.restaurantDetails {
  margin-top: 8px;
}

.selectedItems {
  flex: 1 1;
}

.description {
  margin: 8px 0;
}

.loadingAnimation {
  margin: auto;
  width: 500px;
  height: 500px;
}