@use "sass:map";
@import "../../App.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafa;
}

.container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;

  padding: 0 16px;
  width: calc(100% - 2 * 16px);

  @media (min-width: map.get($grid-breakpoints, "lg")) {
    padding: 0 64px;
    width: calc(100% - 2 * 64px);
  }
}

.selectedItems {
  flex: 1 1;
}

.loadingAnimation {
  display: flex;
  width: 100%;
  height: 500px;
}

.confettiContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  pointer-events: none;
}

.confetti {
  margin: auto;
  min-height: 100vh;
}

.result {
  position: relative;
  animation: rollup 1s ease-in-out;

  display: grid;
  grid-gap: 32px 24px;
  grid-template-rows: auto 1fr;
  margin-top: 32px;
  width: 100%;

  grid-template-areas:
    "menu"
    "basket";
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    grid-template-areas: "menu basket";
    grid-template-columns: 60% 1fr;
  }
}

.items {
  grid-area: menu;
}

.basketContainer {
  grid-area: basket;
}

@keyframes rollup {
  0% {
    transform-origin: bottom;
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform-origin: top;
    transform: translateY(0%);
    opacity: 1;
  }
}

.formWrapper {
  margin-top: 35px;
}
