@use "sass:map";
@import "../../../App.scss";

.menu {
  background: #fff;
  border-bottom: 5px solid map.get($color, "primary");
  box-shadow: 0 5px 0 0 rgb(0 0 0 / 8%);
  display: flex;
  margin: 0;

  height: auto;
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    height: 128px;
  }
}

.menuItemContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

  padding: 20px 0;
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    padding: 0;
  }
}

.titleContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0 0 5px 0;
}

.logoWrapper {
  display: flex;
  flex: 1 1;
  margin: auto;
}

.buttonContainer {
  display: flex;
  flex: 1 1;
  margin-left: auto;
}