@use "sass:map";
@use "../../../styles/variables" as *;

.menu {
    background: #fff;
    border-bottom: 5px solid map.get($color, "primary");
    box-shadow: 0 5px 0 0 rgb(0 0 0 / 8%);
    display: flex;
    margin: 0;

    height: auto;
    @media (min-width: map.get($grid-breakpoints, "sm")) {
        height: 128px;
    }
}

.menuItemContainer {
    width: 100%;
    display: flex;
    text-align: center;

    padding: 20px 0;
    flex-direction: column;
    @media (min-width: map.get($grid-breakpoints, "sm")) {
        padding: 0;
        flex-direction: row;
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px auto;
    @media (min-width: map.get($grid-breakpoints, "sm")) {
        margin: auto;
    }
}

.title {
    margin: 0 0 5px 0;
}

.logoWrapper {
    display: none;
    @media (min-width: map.get($grid-breakpoints, "sm")) {
        display: flex;
    }
}

.buttonContainer {
    display: flex;
    gap: 10px;
}
