@use "sass:map";
@import "../../../App.scss";

.category {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.result {
  position: relative;
  animation: rollup 1s ease-in-out;

  display: grid;
  grid-gap: 32px 24px;
  grid-template-rows: auto 1fr;
  margin-top: 32px;
  width: 100%;

  grid-template-areas:
    "menu"
    "basket";
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    grid-template-areas: "menu basket";
    grid-template-columns: 60% 1fr;
  }
}

.items {
  grid-area: menu;
}

.basketContainer {
  grid-area: basket;
}

@keyframes rollup {
  0% {
    transform-origin: bottom;
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform-origin: top;
    transform: translateY(0%);
    opacity: 1;
  }
}