@use "sass:map";
@import "../../../App.scss";

$size: 75px;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  margin: auto;
  font-size: 50px;

  border: none;
  text-decoration: none;
  background: map.get($color, "primary");
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    opacity: .8;
    animation: 1s spinno infinite;
  }
}

@keyframes spinno {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
