@use "sass:map";
@use "../../../../../styles/variables" as *;

.regambleButton {
    &:hover {
        opacity: 0.8;
        animation: 1s spinno infinite;
        text-decoration: none;
        background-color: lighten(map.get($color, "primary"), 10%);
    }
}

@keyframes spinno {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
