.backToSearchButton {
    &:hover {
        opacity: 0.8;
        animation: 0.8s pointo infinite;
        animation-timing-function: ease-in-out;
        text-decoration: none;
        background-color: lighten(map.get($color, "primary"), 10%);
    }
}

@keyframes pointo {
    0% {
        transform: translateX(10px) scale(1);
    }
    50% {
        transform: translateX(0px) scale(1.1);
    }
    100% {
        transform: translateX(10px) scale(1);
    }
}
