.backToSearchButton {
    &:hover {
        opacity: 0.8;
        animation: 1s pointo infinite;
        animation-timing-function: ease-in-out;
        text-decoration: none;
    }
}

@keyframes pointo {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}
