.address {
    flex-direction: row;
    text-decoration: none;
    font-style: italic;
}

.addressLine {
    &:after {
        content: " - ";
    }

    &:last-child {
        &:after {
            content: "";
        }
    }
}
